.job-top{
  background-color: #ffe2d2;
}
.job-bottom{
  background-color: #fff;
}
.job-top,.job-bottom{
  padding-left: 20px;
}
.job-cover{
  display: flex;
  flex-direction: row;
  padding-top: 45px;
  .text,.image{
    width: 50%;
  }
  .text{
    padding-top: 10px;
    h1{
      font-size: 32px;
      line-height: 1.5;
    }
    p{
      font-size: 18px;
    }
  }
  .image{
    img{
      object-fit: contain;
      width: 160%;
      margin-bottom:-5px;
    }
  }
}
.job-list{
  width: 100%;
  padding-top: 60px;
  .section-title{
    padding-bottom: 45px;
  }
}