.grid-items {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .item {
    flex-basis: 48%;
    @media only screen and (max-width: 830px) {
        flex-basis: 100%
      }
    a {
      display: flex;
      padding-bottom: 30px;
      text-decoration: none;
      

      p {
        margin: 0;
      }

      .image {
        min-width: 6.75rem;
        min-height: 6.75rem;

        img {
          width: 100%;
          border-radius: 10px;
        }
      }

      .desc {
        margin-left: 1rem;

        .title {
          font-weight: 600;
          color: #4d5159;
          margin-bottom: 4px;
        }

        .title-desc,
        .salary {
          display: flex;
          gap: 10px;
          flex-wrap: nowrap;
        }

        .title-desc {
          color: #868b94;
          margin-bottom: 4px;
        }

        .salary {
          color: #212124;
          font-weight: 600;
        }
      }
    }
  }

  .item:last-child {
    padding-bottom: 0px;
  }
}